<section class=" pt-5">
    <div class="container  ">
        <div class="row g-0 align-items-center justify-content-between  gx-5">
            <div class="col-sm-12 col-md-6">
                <img src="assets/images/headphone-home.webp" alt="" style="width: 85%;">
            </div>
            <div class="col-sm-12 col-md-6 position-relative ">
                <h1 class="text-warning display-2 ">What’s in the Box</h1>
                <p>
                    Marques ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
                </p>
                <ul>
                    <li>Lightning to USD-A charging cable</li>
                    <li>Solo Pro wireless headphones</li>
                    <li>Carrying Case</li>
                    <li>Quick Start Guide</li>
                    <li>Warranty Cart</li>
                </ul>
                <div class="position-absolute start-50 top-100 translate-middle-y">
                    <img src="https://cdn.shopify.com/s/files/1/0549/2926/0649/files/home-image-1.png?v=1640171885"
                        alt="" style="width: 80%;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="">
            <h1 class="text-warning display-6 fw-bold pt-5 ">Experience powerful, balanced sound with <br>
                Solo Pro wireless on-ear headphones featuring <br>
                Active Noise Cancelling</h1>
        </div>
        <div class="row g-0  row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-2  justify-content-between  gx-5">
            <div class="col text-dark">
                <img class="m-3" src="assets/images/headphone-icon.png" alt="" style="width: 5em;">
                <h2 class="text-warning mb-3">
                    Keep feeling music
                </h2>
                <p>
                    Posuere ac ut consequat semper viverra nam libero. Euismod quis viverra nibh cras pulvinar mattis.
                    Tellus orci ac auctor augue mauris.
                </p>
                <img class="w-75 pb-5" src="assets/images/home-image-2.webp" alt="">
            </div>
            <div class="col d-flex flex-column justify-content-end">
                <img class="w-100 py-3" src="assets/images/home-image-3.webp" alt="">
                <h2 class="text-warning my-3">
                    <img class="m-3" src="assets/images/microphone-icon.png" alt="" style="width: 2.5em;">
                    Controls with a natural feel
                </h2>
                <p class="text-dark">
                    Laoreet id donec ultrices tincidunt arcu non sodales neque. Penatibus et magnis dis parturient
                    montes
                    nascetur ridiculus mus.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <h1 class="text-center pb-3 text-warning" style="font-family: font;">
        About Us
    </h1>
    <div class="d-flex flex-column h-100 my-5 justify-content-center align-items-end bg-dark "
        style="--bs-bg-opacity: 0.7">
        <ul class="text-end w-75 ">
            <li>
                <h3> Sound quality</h3>
                <p>
                    This is probably the most important factor for most people. You want headphones that deliver
                    clear, balanced, and immersive sound.
                </p>
            </li>
            <li>
                <h3>Comfort</h3>
                <p>
                    You also want headphones that fit well and feel comfortable on your ears. You don't want to end up
                    with sore ears or headaches after using them for a long time.
                </p>
            </li>
            <li>
                <h3>Durability</h3>
                <p>You want headphones that can last for a long time and withstand wear and tear. You don't want to
                    spend money on something that breaks easily or stops working after a few months.
                </p>
            </li>
            <li>
                <h3>
                    Style
                </h3>
                <p>Of course, you also want headphones that look good and match your personality. There are many colors,
                    shapes, and designs to choose from.
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="bg-light">
    <div class="container ">
        <h1 class="text-warning text-center py-5 " style="font-family: font;">
            New Arrivals
        </h1>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-0  justify-content-center  gx-5">

            <!-- render 4 product -->
            <div class="col mb-3 " *ngFor="let item of productList ">
                <div class="card h-100 shadow-sm position-relative">
                    <a href="product-detail/{{ item.id }}">
                        <img class="w-100" src="{{item.image}}" alt="product.title" />
                    </a>
                    <div class="position-absolute top-0 end-0">
                        <span class="deal rounded-pill m-3" target="_blank" href="#">{{item.unit}} </span>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-warning">{{item.price}}$</span>
                            <span class=" float-end">
                                <p class=" details small text-muted text-uppercase aff-link fw-bold">Details</p>
                            </span>
                        </div>
                        <h5 class="card-title ">
                            <a href="product-detail/{{ item.id }}">{{item.name}}</a>
                        </h5>
                        <div class="d-grid my-2">
                            <button class="btn btn-warning bold-btn" (click)="addToCart(item.id)">ADD TO CARD</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg-light pt-5">
    <div class="blog" style="background-image: url('assets/images/bg-2.webp');">
        <div class="container">
            <div
                class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-lg-2 h-100 justify-content-center align-items-center">
                <div class="col pt-5 ">
                    <h2 class="display-4 text-warning pt-5">
                        How to Get Your Beats Qulaity With Studio3
                        Wireless Headphones
                    </h2>
                    <p>
                        Suspendisse sed nisi lacus sed.tincidunt augue interdum velit Lacinia quis vel eros donec ac
                        odio
                        tempor orci. Est lorem ipsum dolor sit amet consectetur adipiscing. Vitae sapien pellentesque
                        habitant morbi. Morbi tincidunt augue inter tellus.
                    </p>
                    <div class="col d-flex justify-content-start">
                        <button class="btn btn-outline-warning text-white btn-lg">Read More</button>
                    </div>
                </div>
                <div class="col mb-4  ">
                    <img class="" src="assets/images/home-image-4.webp" alt="">
                </div>
            </div>
        </div>

        <div class=" d-flex flex-wrap align-items-center pt-3  ">
            <div class="col  ">
                <img class="h-100" src="assets/images/home-image-5.webp" alt="">
            </div>

            <div class="col p-5">
                <h2 class="display-4 text-warning">
                    Listen the sound of quality
                </h2>
                <p class="fw-bold">
                    Semi-Open Design For True Sound Representation
                </p>
                <p>
                    Suspendisse sed nisi lacus sed.tincidunt augue interdum velit Lacinia quis vel eros donec ac odio
                    tempor orci. Est lorem ipsum dolor sit amet consectetur adipiscing. Vitae sapien pellentesque
                    habitant morbi. Morbi tincidunt augue inter tellus.
                </p>
                <div class="col d-flex justify-content-start">
                    <button class="btn btn-outline-warning text-white btn-lg">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog bg-light">
    <div class="container pt-5">
        <h2 class="display-4 fw-bold text-center" style="color: #50184B;">
            Recent Articles
        </h2>
        <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-lg-3 h-100 gx-5">

            <div class="col pb-5 ">
                <div class="card ">
                    <img class="w-100" src="assets/images/blog-1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                    </div>
                </div>
            </div>
            <div class="col pb-5 ">
                <div class="card ">
                    <img class="w-100" src="assets/images/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                    </div>
                </div>
            </div>
            <div class="col pb-5 ">
                <div class="card ">
                    <img class="w-100" src="assets/images/blog-3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="liveToastBtn" class="toast-container position-fixed  top-50 end-0 p-3" style="--bs-bg-opacity: 1">
    <div id="liveToast" class="toast align-items-center text-dark bg-light border rournded-4 " role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning  text-dark" style="--bs-bg-opacity: 1;">
            <strong class="me-auto" style="color: #521a4d;">BangDang</strong>
            <small>Notification </small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body  bg-light">
            {{ message }}
        </div>
    </div>