<section class=" text-dark mix-white-100 text-dark">
    <div class="container py-5 mix-white-100 " style="--bs-bg-opacity: 0.5">
        <div class="row  row-cols-sm-2 row-cols-lg-2    ">
            <div class=" blog col-sx-12 col-sm-12 col-lg-3  ">
                <h2 class=""> Recent Articles </h2>
                <hr class="border-2 border-warning " style="opacity: 1;">

                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="assets/images/blog-1.webp" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="assets/images/blog-1.webp" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                
            </div>
            <div class="col-sx-12 col-sm-12 col-lg-9   products">
                <h2 class="text-center">   Blogs </h2>
                <hr class="border-2 border-warning " style="opacity: 1;">

                <div class="row row-cols-sm-2  row-cols-md-3 row-cols-lg-4 g-0  gx-3">
                    <div class="col pb-3 ">
                        <div class="card " >
                            <img class="w-100" src="assets/images/blog-1.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                            </div>
                          </div>
                    </div>
                    <div class="col pb-3 ">
                        <div class="card " >
                            <img class="w-100" src="assets/images/blog-2.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                            </div>
                          </div>
                    </div>
                    <div class="col pb-3 ">
                        <div class="card " >
                            <img class="w-100" src="assets/images/blog-3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                            </div>
                          </div>
                    </div>
                    <div class="col pb-3 ">
                        <div class="card " >
                            <img class="w-100" src="assets/images/blog-3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Make Listening To Music A New Dark Night Delightful Experience</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-outline-warning   bold-btn">Readmore</a>
                            </div>
                          </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>