<section class="py-lg-16 py-6 vh-100">
    <div class="container-fluid h-100 position-relative">
        <div class="d-flex flex-row align-items-center justify-content-around h-100 ">
            <div>
                <h1 class="display-5 fw-bold mb-3 ">
                    Stylish wireless
                    <p class="text-warning"> on‑ear headphones
                    </p>
                </h1>
                <p class="lead mb-4">
                    Fine quality
                    <br>
                    wireless headphones to stay inspired
                </p>
                <a href="#!" class="btn btn-warning-outline text-white btn-lg">Order Now</a>
            </div>
            <div></div>
        </div>
        <div class="hero position-absolute bottom-0 end-0 h-100 w-50"><img class="w-100 h-100"
                src="/assets/images/slider-h.png" alt=""></div>
    </div>
</section>