<section class="py-lg-16 py-6">
    <div class="container h-100 ">
        <div class="d-flex flex-column align-items-start justify-content-center h-100 " >
            <h1 class="display-5 fw-bold mb-3">
                Stylish wireless
                <p class="text-warning"> on‑ear headphones
                </p>
            </h1>
            <p class="lead mb-4">
                Fine quality
                <br>
                wireless headphones to stay inspired
            </p>
            <a href="#!" class="btn btn-warning-outline text-white btn-lg">Order Now</a>
        </div>
    </div>
</section>
