section {
  background-image: url("/assets/images/slider.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: inherit;
  padding-top: 75px;
}

.btn-warning-outline {
  border-color: #f0ad4e;
  color: #fff;
  &:hover {
    background-color: #eea236;
    border-color: #eea236;
    color: #fff;
  }
}
.hero {
  img {
    object-fit: contain;
    object-position: 100% 100%;
  }
}
