<section class="bg-light text-dark">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 py-3">
                <h1>Product Detail</h1>
            </div>
            <div class="col-sm-12  col-md-12 ">
                <div class="card mb-3">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <img src="assets/images/headphone-home.webp" class="img-fluid rounded-start p-2" alt="...">
                            <div class="d-flex justify-content-center">
                                <img class="object-fit-fill border w-25 me-3 p-2"
                                    src="assets/images/headphone-home.webp" alt="">
                                <img class="object-fit-fill border w-25 me-3 p-2"
                                    src="assets/images/headphone-home.webp" alt="">
                                <img class="object-fit-fill border w-25 me-3 p-2"
                                    src="assets/images/headphone-home.webp" alt="">
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Headphone 1 <span class="badge bg-warning">New</span>
                                </h5>
                                <p class="card-text">
                                    <span class="text-body-secondary">Description:</span> <span
                                        class="text-body-primary"> Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Quisquam, voluptatum.</span>
                                </p>
                                <p class="card-text">
                                    <span class="text-body-secondary">Category:</span> <span class="text-body-primary">
                                        Electronics</span>
                                </p>
                                <p class="card-text">
                                    <span class="text-body-secondary">Brand:</span> <span class="text-body-primary">
                                        Sony</span>
                                </p>
                                <p class="card-text">
                                    <span class="text-body-secondary">Price:</span> <span class="text-body-primary"> $
                                        100</span>
                                </p>
                                <p class="card-text">
                                    <span class="text-body-secondary">Quantity:</span> <span class="text-body-primary">
                                        10</span>
                                </p>
                                <div>
                                    <button class="btn btn-warning me-2">Add to Cart</button>
                                    <button class="btn btn-outline-warning">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 ">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Product Description </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Additional Infomaton</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Reviews</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active card p-5" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">
                        <p>
                        Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque
                        diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis
                        drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis.</p>

                        <h4> Lorem ipsum dolor sit amet </h4>

                        <p>Sonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur.</p>

                        <h4>Busey ipsum dolor sit amet </h4>

                        <p> Tortor at auctor urna nunc id cursus metus aliquam. Odio tempor orci dapibus ultrices. Tortor
                        condimentum lacinia quis vel eros donec ac odio. Velit euismod in pellentesque massa placerat
                        duis ultricies lacus. Scelerisque purus semper eget duis at tellus at urna condimentum. Eu
                        facilisis sed odio morbi quis commodo odio aenean urpis massa sed elemen.</p>

                       <h4> Vestibulum sit amet ipsum </h4>

                       <p> Praesent vestibulum congue tellus at fringilla. Curabitur vitae semper sem, eu convallis est.
                        Cras felis nunc commodo eu convallis vitae interdum non nisl. Maecenas ac est sit amet augue
                        pharetra convallis nec danos dui. Cras suscipit quam et turpis eleifend vitae malesuada magna
                        congue. Damus id ullamcorper neque. Sed vitae mi a mi pretium aliquet ac sed elit. Pellentesque
                        nulla eros accumsan quis justo at tincidunt lobortis denimes loremous. Suspendisse vestibulum
                        lectus in lectus volutpat, ut dapibus purus pulvinar. Vestibulum sit amet auctor ipsum.</p>
                    </div>
                    <div class="tab-pane fade card p-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                       <h4> Returns Policy</h4>

                        <p>You may return most new, unopened items within 30 days of delivery for a full refund. We'll also
                        pay the return shipping costs if the return is a result of our error (you received an incorrect
                        or defective item, etc.).</p>

                        <p>You should expect to receive your refund within four weeks of giving your package to the return
                        shipper, however, in many cases you will receive a refund more quickly. This time period
                        includes the transit time for us to receive your return from the shipper (5 to 10 business
                        days), the time it takes us to process your return once we receive it (3 to 5 business days),
                        and the time it takes your bank to process our refund request (5 to 10 business days).</p>

                       <p> If you need to return an item, simply login to your account, view the order using the 'Complete
                        Orders' link under the My Account menu and click the Return Item(s) button. We'll notify you via
                        e-mail of your refund once we've received and processed the returned item.</p>

                        <h4>Shipping</h4>

                        <p>We can ship to virtually any address in the world. Note that there are restrictions on some
                        products, and some products cannot be shipped to international destinations.</p>

                        <p>When you place an order, we will estimate shipping and delivery dates for you based on the
                        availability of your items and the shipping options you choose. Depending on the shipping
                        provider you choose, shipping date estimates may appear on the shipping quotes page.</p>

                        <p>Please also note that the shipping rates for many items we sell are weight-based. The weight of
                        any such item can be found on its detail page. To reflect the policies of the shipping companies
                        we use, all weights will be rounded up to the next full pound.</p>
                    </div>
                    <div class="tab-pane fade card p-5 " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                        tabindex="0">
                    <h4>Reviews</h4>
   
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>