<footer class="" style="--bs-bg-opacity: 0.76; ">
    <div class="container-fluid text-white pt-5">
        <div class="row justify-content-around">

            <!--First column-->
            <div class="col-md-3 ">
                <h5 class="text-uppercase font-weight-bold mb-4 text-warning" style="font-family: font; font-size: 2em;">Bang Dang</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-2 ">
                <h5 class="text-uppercase text-warning font-weight-bold mb-4">Menu</h5>
                <ul class="list-unstyled">
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 1</a></li>
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 2</a></li>
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 3</a></li>
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="text-uppercase text-warning font-weight-bold mb-4">Category</h5>
                <ul class="list-unstyled">
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 1</a></li>
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 2</a></li>
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 3</a></li>
                    <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

        </div>
    </div>
    <div class="social d-flex justify-content-center  align-items-center py-3">
        <a href="#"><i class="fa fa-facebook 2xl"></i></a>
        <a href="#"><i class="fa fa-twitter 2xl"></i></a>
        <a href="#"><i class="fa fa-instagram 2xl"></i></a>
        <a href="#"><i class="fa fa-pinterest 2xl"></i></a>
    </div>
    <hr class="border border-white border-1 opacity-50">
    <div class="footer-end">
        @2023 Bang Dang
    </div>
</footer>